body{
    margin: 0;
    /* text-align: center; */
}
.container{
    width: 60%;
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    margin: 6% auto;
    padding: 5%;
}
.little{
    width: 80%;
    
    margin: auto;
    
     
    
}
.pop{
    width: 100%;
    height: 406px;
     
}
.imgg{
   width: 50%;
   height: 100%;
   /* background-color: aqua; */
}


.box{
   
  
    width: 50%;
    position: relative;
    bottom: 410px;
    
    background-color: #fdfdfd;
    float: right;
    height: 406px;
   
}
    
    

h4{
    color:#bd9191;
    text-align: left;
    padding: 10px 20px;
    margin: 0;
}
h2{
    text-align: left;
    padding-left: 20px;
    width: 82%;
    margin: 0;
}
.para{
    width: 70%;
    padding-left: 20px;
    text-align: left;
    color:#bca882;
    margin: 11px 0px;
}
.discount{
    font-size: larger;
    
    position: relative;
    padding-left: 20px;

}
.original{
    text-decoration: line-through;
    color: rgb(134 173 129);
    padding-left: 10%;

}
.btn {
    
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 13px;
    background: #036730;
    padding: 5px 10px;
    text-decoration: none;
    width: 60%;
    margin: 25px auto;
    text-align: center;
    
  }
  path{
    color:#0a8943;
  }
  @media screen and (max-width: 500px){
    .container{
        width: 80%;
    height: 560px;
    background-color: hsl(30, 38%, 92%);
    }
    .little{
        width: 95%;
        height: 560px;
        
        margin: auto;
         /* padding: 50px;  */
         background-color: #ef55c1;
         
        
    }
    .pop{
        width: 100%;
        height: 280px;
         
    }
    .imgg{
       width: 100%;
       height: 50%;
       /* background-color: aqua; */
    }
    
    
    .box{
       
      
        width: 100%;
        bottom: 0;
        height: 280px;
       
    }
        
        
    
    h4{
        color:#bd9191;
        text-align: left;
        padding: 10px 20px;
        margin: 0;
        font-size: small;
    }
    h2{
        text-align: left;
        padding-left: 20px;
        width: 80%;
    }
    .para{
        width: 85%;
        padding-left: 20px;
        text-align: left;
        color:#bca882;
    }
    .discount{
        font-size: medium;
        
        position: relative;
        padding-left: 20px;
    
    }
    .original{
        text-decoration: line-through;
        color: rgb(134 173 129);
        padding-left: 10%;
        font-size: small;
    
    }
    .btn {
        
        border-radius: 5px;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
        font-size: 14px;
        background: #036730;
        padding: 4px 10px;
        text-decoration: none;
        width: 53%;
        /* margin: auto; */
        margin-top: 2.5px;
        height: 20px;
        text-align: center;
      }
  }
  
  

